// Primary Colors
$primary-black: #13182c;
$primary-blue: #5fced6;
$primary-white: #ffffff;
$primary-violet: #bb6be0;
$primary-grey: #cac7caea;

// Secondary Colors
$secondary-blue: #62e1ea;
$secondary-grey: #f7f2f8ea;

// Background Colors
$background-grey: #d9d9d9;
$background-light-grey: #dfe1e5;

// Supporting Colors
$supporting-red: #c94515;
