$primary-black: #13182c;
$primary-blue: #6fdadb;
$primary-white: #ffffff;
$primary-dark-blue: #429ebb;
$primary-grey: #cac7caea;

$secondary-blue: #50c9d1;
$secondary-grey: #f7f2f8ea;

$background-grey: #d9d9d9;
$background-light-grey: #dfe1e5;

$supporting-red: #c94515;
