@use "./_colors.scss" as *;

@mixin button {
  padding: 10px 20px;
  background-color: $primary-blue;
  border: none;
  border-radius: 4px;
  color: $primary-white;
  cursor: pointer;
  transition: background-color 0.3s;
}

@mixin column {
  background-color: $primary-violet; /* Color turquesa para las columnas */
  width: 100px; /* Puedes ajustar el ancho según lo que necesites */
  min-height: 100vh; /* Asume que quieres que sea de altura completa */
}
