@use "../../styles/_colors.scss" as *;

.filter {
  background-color: $primary-dark-blue;
  width: 100%;
  padding: 1rem;
  width: 20%;
  min-width: 15vw;
  min-height: 90vh;

  &__title {
    color: $primary-white;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px solid $primary-white;
    padding-bottom: 0.5rem;
  }

  &__subtitle {
    color: $primary-white;
    text-align: left;
    padding-left: 0.625rem;
    font-size: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    color: $primary-white;
    cursor: pointer;
  }

  &__radio-button {
    appearance: none;
    border: solid $primary-grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
    margin: 0;
  }

  &__radio-button:checked {
    background-color: $primary-white;
  }
}
