@use "../../styles/_colors.scss" as *;
.search {
  &__bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // sacar este margin despues
    margin: 30px 0 5px 30px;
    background-color: $secondary-grey;
    border-radius: 10px;
    width: 30%;
  }

  &__input {
    background-color: $secondary-grey;
    border: none;
    margin-left: 0.3125rem;
    height: 30px;
    border-radius: 10px;

    &::placeholder {
    }

    &:focus {
      outline: none;
    }
  }
}
