@use "../../styles/_colors.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  background-color: $primary-blue;
  padding: 0 20px;

  &__logo {
    a {
      text-decoration: none; // Esto quita el subrayado del logo
      // color: inherit; // Asegura que herede el color de su contenedor padre

      // esto es para prevenir que cuando tocas no cambie de color, pero lo tengo que probar y sino lo saco
      // &:visited {
      // }
    }
  }

  &__nav {
    display: flex;
    height: 100%;

    &-link {
      text-align: center;
      color: $primary-white;
      cursor: pointer;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1.3rem;
      text-decoration: none;

      &:hover {
        background-color: $secondary-blue;
      }

      &-icon {
      }
      // estan muy separados home, new rcipe, favorites, contact us
    }
  }
}

//   // Tablet
//   @media screen and (min-width: 48rem) {
//     &__nav {
//       gap: 15px;
//     }

//     &__nav-btn {
//       padding: 10px 25px;
//     }
//   }

//   // Desktop version
//   @media screen and (min-width: 80rem) {
//     padding: 25px 40px;

//     &__logo-img {
//       max-width: 200px;
//     }

//     &__nav {
//       gap: 20px;
//     }

//     &__nav-btn {
//       padding: 15px 30px;
//     }
//   }
// }
