@use "../../styles/_colors.scss" as *;
@use "../../styles/_mixins.scss" as *;

.contact-us {
  padding: 20px;
  border-radius: 8px;
  width: 300px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input-name,
  &__input-email,
  &__textarea-subject {
    padding: 0.625rem;
    border: 1px solid $primary-grey;
    border-radius: 4px;
    transition: border 0.3s;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;

    &.contact-us__input-name--active,
    &.contact-us__input-email--active,
    &.contact-us__textarea-subject--active {
      border-color: $primary-blue;
    }

    &.contact-us__input-email--error {
      border-color: $supporting-red;
    }

    &:focus {
      outline: none;
      border-color: $primary-blue;
    }
  }

  &__button {
    @include button;
    width: 50%;

    &:hover {
      background-color: $secondary-blue;
    }
  }
}
